
@{
    ViewBag.Title = "AnotherAboutUs";
}

<h2>AnotherAboutUs</h2>

<h4>Using ViewData,Viewbag and TempData </h4>

<p>ViewData => <span class="text-danger font-weight-bold">@ViewData["ViewDataMessage"]</span></p>
<p>ViewBag => <span class="text-danger font-weight-bold">@ViewBag.ViewBagMessage</span></p>
<p>TempData => <span class="text-danger font-weight-bold">@TempData["TempDataMessage"]</span></p>
<p>Session => <span class="text-danger font-weight-bold">@Session["SessionMessage"]</span></p>

@Html.ActionLink(
    linkText:"load this page",
    actionName:"AnotherAboutUs",
    routeValues:null,
    htmlAttributes:new { @class="btn btn-lg btn-outline-warning"}
    )

@Html.ActionLink(
    linkText:"Go to About Us-0",
    actionName:"AboutUs",
    routeValues:new { @option =0},
    htmlAttributes:new { @class="btn btn-lg btn-outline-info"}
    )

@Html.ActionLink(
    linkText:"Go to About Us-1",
    actionName:"AboutUs",
    routeValues:new { @option =1},
    htmlAttributes:new { @class="btn btn-lg btn-outline-success"}
    )

