@model IEnumerable<MvcApplication.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2 class="bg-success" text-white text-center">List of Customers</h2>

<p>
    @Html.ActionLink("Create New", "Create",null,new { @class = "btn btn-lg btn-secondary" })
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustomerId },new { @class = "btn btn-sm btn-success" }) 
            @Html.ActionLink("Details", "Details", new { id=item.CustomerId }, new { @class = "btn btn-sm btn-info" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.CustomerId }, new { @class = "btn btn-sm btn-danger" })
        </td>
    </tr>
}

</table>
